apps/n8n/workflows/01-alertmanager.json
{
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
  "name": "🔔 Alertmanager → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertmanager",
        "options": {}
      },
      "id": "aee7f6d1-9b0e-4a2f-8c1d-0e3b5f7a9c2e",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "alertmanager"
    },
    {
      "parameters": {
        "jsCode": "// Парсим Alertmanager payload\nconst body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nconst results = [];\n\nfor (const alert of alerts) {\n  const isFiring = alert.status === 'firing';\n  const emoji = isFiring ? '🔴' : '✅';\n  const name = alert.labels?.alertname || 'Unknown';\n  const ns = alert.labels?.namespace || 'cluster';\n  const severity = alert.labels?.severity || 'info';\n  const summary = alert.annotations?.summary || '';\n  const desc = alert.annotations?.description || '';\n  const instance = alert.labels?.instance || '';\n\n  const sevEmoji = severity === 'critical' ? '🚨' : severity === 'warning' ? '⚠️' : 'ℹ️';\n\n  let msg = `${emoji} <b>${name}</b>\\n`;\n  msg += `📍 Namespace: <code>${ns}</code>\\n`;\n  msg += `${sevEmoji} Severity: <b>${severity}</b>\\n`;\n  if (instance) msg += `🖥️ Instance: <code>${instance}</code>\\n`;\n  if (summary) msg += `💬 ${summary}\\n`;\n  if (desc) msg += `📋 ${desc}\\n`;\n  if (!isFiring) msg += `\\n✅ <i>Alert resolved</i>`;\n\n  results.push({ json: { message: msg, alertname: name, status: alert.status } });\n}\n\nif (results.length === 0) {\n  return [{ json: { message: '✅ All alerts cleared', alertname: 'none', status: 'resolved' } }];\n}\n\nreturn results;"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f01234567890",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.N8N_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.N8N_TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-012345678901",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [[{ "node": "Format Alert Message", "type": "main", "index": 0 }]]
    },
    "Format Alert Message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
